* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

html {
    height: 100%;
}  

body {
    height: 100%;
    background-color: $mainGray;
    color: $mainBeige;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;

    @mixin atSmall {
        font-size: 1.125rem;
    }
}



a {
    color: $mainBeige;
    text-decoration: none;
}


