.btn {
    position: relative;
    padding-left: 0;
    color: $mainBeige;
    font-size: clamp(1em, 2.5vw, 1.5em);
    text-decoration: none;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
    visibility: hidden;
    opacity: 0;

    @keyframes slideBtn {
        0% {transform: translateX(-2000px); opacity: 0; visibility: hidden;}
        100% {transform: translateX(0px); opacity: 1; visibility: visible;}
    }

    /* animation */
    animation: slideBtn 2s linear forwards;

    span {
        position: relative;

        &::before,
        &::after {
            position: absolute;
            content: '';
            top: 12px;
            left: -20px;
            width: 15px;
            height: 2px;
            background-color: $mainBeige;
            transform: rotate(45deg);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s ease-in-out .4s;
        }

        &::after {
            top: 22px;
            transform: rotate(-45deg);
        }
    }

    &::after {
        position: absolute;
        content: '';
        bottom: -5px;
        left: 0;
        width: 2.5em;
        height: 2px;
        background-color: $mainBeige;
        transition: all .4s ease-in-out;
    }

    &:hover {
        padding-left: 20px;

        span::before,
        span::after {
            opacity: 1;
            visibility: visible;
        }

        &::after {
            left: 20px;
            width: 11em;
        }
    }
}