.cards {

  &__item {
    margin-bottom: 2em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-family: 'Raleway', sans-serif;
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: 300;
    margin-bottom: 1em;

    @mixin atSmall {
      padding-left: 1em;
    }
  }

  &__text {
    font-weight: 300;
    line-height: 1.5;

    @mixin atSmall {
      max-width: 25rem;
      margin: 0 auto;
    }
  }
}