#CybotCookiebotDialog {
  background-color: $mainBeige !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300 !important;
}

.CybotCookiebotDialogBodyButton {
  background-color: $mainGray !important;
  color: $mainBeige !important;
  border-radius: 2px !important;
}

#CybotCookiebotDialogBodyLevelButtonsSelectPane,
#CybotCookiebotDialogBodyLevelDetailsWrapper {
  border: 1px solid $mainGray !important;
}