.grid {
    display: grid;

    &--main-site {
        grid-template-columns: 1fr;
        gap: 1.25rem;
    }

    @mixin atSmall {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto repeat(6, 6.5625rem) auto;

    }

}