.hero-section {
    display: grid;
    height: 32rem;

    &__text-content {
        margin: auto;
    }

    &__title {
        margin: 0 0 .4em;
        font-family: 'Raleway', sans-serif;
        font-size: clamp(2.5em, 6vw, 4em);
        font-weight: 300;
    }

    &__description {
        position: relative;
        margin: 0 0 1.875em;
        font-size: clamp(1em, 2.5vw, 1.5em);

    }
}