.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__hamburger {
        position: relative;
        width: 20px;
        height: 3px;
        background-color: $mainBeige;
        border-radius: 5px;

        &::before {
            position: absolute;
            content: '';
            top: -12px;
            right: 0;
            width: 35px;
            height: 3px;
            background-color: $mainBeige;
            border-radius: 5px;
        }

        &::after {
            position: absolute;
            content: '';
            top: 12px;
            right: 0;
            width: 28px;
            height: 3px;
            background-color: $mainBeige;
            border-radius: 5px;
        }
    }

    &__nav {
        display: none;
    }
}