.portfolio {
  max-width: 25rem;
  margin: 0 auto;

  &__item {
    position: relative;
    width: 100%;
    height: 0;
    margin-bottom: 2em;
    padding-top: 100%;

    &-inside {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: url(assets/images/zoom.svg), auto;
    opacity: .6;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

}