.site-header {
    padding:  1em 0;

    &__logo {
        display: block;
        margin: auto;
        width: 12em;
        height: auto;

        &--left {
            margin-left: 0;
        }
   
    }

    &__hamburger {
        position: relative;
        width: 20px;
        height: 3px;
        background-color: $mainBeige;
        border-radius: 5px;

        &::before {
            position: absolute;
            content: '';
            top: -12px;
            right: 0;
            width: 35px;
            height: 3px;
            background-color: $mainBeige;
            border-radius: 5px;
        }

        &::after {
            position: absolute;
            content: '';
            top: 12px;
            right: 0;
            width: 28px;
            height: 3px;
            background-color: $mainBeige;
            border-radius: 5px;
        }
    }
}