.top {
  height: 100vh;
  display: grid;
  padding-bottom: 120px;

  @mixin atLandscape {
    margin-right: 60px; 
    padding-bottom: 0;
  }

  &__content {
    margin: auto;
    text-align: center;
  }

  &__logo {
    display: inline-block;
    width: 220px;
    height: auto;
    margin-bottom: 30px;
  }

  &__btn {
    display: block;
    position: relative;
    font-weight: 300;

    &:before,
    &::after {
      position: absolute;
      content: '';
      top: 20px;
      left: 100px;
      width: 1rem;
      height: 1rem;
      border-top: 1px solid $mainBeige;
      border-right: 1px solid $mainBeige;
      transform: rotate(135deg) skew(20deg, 20deg);
      opacity: .6;
      animation: arrowdown 1.2s infinite;

      @keyframes arrowdown {
        100% {top: 30px;}
      }
    }

    &::after {
      top: 26px;
      opacity: 1;
    }
  }

  &__title {
    font-family: 'Raleway', sans-serif;
    font-size: 6em;
    font-weight: 100;
  }

  &__description {
    font-size: 2em;
    font-weight: 300;
  }
}