.viewport-background-fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -2;

  @mixin atPortrait {
    background: url(../assets/images/webdesigner-girl-keep-working-425-756-portrait.jpg) center center/cover no-repeat;
  }

  @mixin atPortrait2x {
    background: url(../assets/images/webdesigner-girl-keep-working-850-1511-portrait.jpg) center center/cover no-repeat;
  }

  @mixin atLandscape {
    background: url(../assets/images/webdesigner-girl-keep-working-960-540-landscape.jpg) top center/cover no-repeat;
  }

  @mixin atLandscape2x {
    background: url(../assets/images/webdesigner-girl-keep-working-1920-1080-landscape.jpg) top center/cover no-repeat;
  }

  &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .7);
  }
}